.body {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 10%;
    gap: 20px;
}

.detail {
    border: 0.5px solid rgba(28, 43, 102, 0.5);
    border-radius: 10px;
    padding: 10px 15px;
h2{
    margin: 0;
}
    span {
        width: 180px;
    }

}
.sections {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 20px;

    .section1 {
        h3 {
            color: #fff;
            font-weight: 600;
            font-size: 36px;
        }

        flex-basis: 50%;
        background: green;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        border-radius: 10px;
    }

    .section2 {
        flex-basis: 47%;
        display: flex;
        flex-direction: column;
        align-items: center;

        button{

        }
        .star {
            max-width: 200px;

            img {
                width: 100%;
            }
        }

        .images {
            display: flex;
            justify-content: space-between;
            padding-bottom: 10px;
        }

        #range {
            width: 100%;
            opacity: 0.5;
        }
    }
}

.success{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 50vh;
    background: rgb(236, 236, 238);

}
.intro{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 50vh;
    background: rgb(236, 236, 238);


}

@media only screen and (max-width: 700px){
    
   .sections{
    flex-direction: column;
   }

   .detail {

    span {
        width: 150px;
        font-size: 12px;
    }
}
    
}